<?xml version="1.0"?>
<config>
    <modules>
        <Juslintek_Supplier>
            <version>1.0.0</version>
        </Juslintek_Supplier>
    </modules>
    <global>
        <blocks>
            <juslintek_supplier>
                <class>Juslintek_Supplier_Block</class>
            </juslintek_supplier>
        </blocks>
        <helpers>
            <juslintek_supplier>
                <class>Juslintek_Supplier_Helper</class>
            </juslintek_supplier>
        </helpers>
        <models>
            <juslintek_supplier>
                <class>Juslintek_Supplier_Model</class>
            </juslintek_supplier>
        </models>
        <resources>
            <supplier_setup>
                <setup>
                    <module>Juslintek_Supplier</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </supplier_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <juslintek_supplier>
                <use>standard</use>
                <args>
                    <module>Juslintek_Supplier</module>
                    <frontName>supplier</frontName>
                </args>
            </juslintek_supplier>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <juslintek_supplier>
                        <class>juslintek_supplier/observer</class>
                        <method>sampleObserverMethod</method>
                    </juslintek_supplier>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
</config>
